.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  pointer-events: none;
}
.logo-foot{
  display: flex;
  flex-direction: row;
}
.App-logo-foot {
  height: 90px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo-foot {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 10px;
  background-color: #1565C0;
  height: 130px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #BBE1FA;
  padding: 10px;
}
#body{
  margin-top: 10px;
  color: #BBE1FA;
  background-color: #0F4C75;
  border-radius: 20px;
  padding: 20px;
}
img{
  height: 130px;
}
a{
  color: white;
  background-color: #1565C0;
  padding: 10px;
  border-radius: 5px;
}
footer{
  background-color: #1565C0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  justify-content: left;
  color: white;
  display: flex;
  flex-direction: row;
}
tr:nth-of-type(even){
  background-color: #03a9f4;
}
h1{
  margin: 25px 0px;
}
h3{
  margin: 10px;
}
p{
  margin: 7px;
  margin-left: 10px;
}
left{
  text-align: left;
  width: 33%;
}
center{
  text-align: center;
  width: 33%;
}
th{
  min-width: 120px;
}